<%- include('includes/header.ejs') %>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Us</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"> Contact Us </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="title-left">
                        <h3>Account Login</h3>
                    </div>
                    <h5><a data-toggle="collapse" href="#formLogin" role="button" aria-expanded="false">Click here to Login</a></h5>
                    <form class="mt-3 collapse review-form-box" id="formLogin">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="InputEmail" class="mb-0">Email Address</label>
                                <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email"> </div>
                            <div class="form-group col-md-6">
                                <label for="InputPassword" class="mb-0">Password</label>
                                <input type="password" class="form-control" id="InputPassword" placeholder="Password"> </div>
                        </div>
                        <button type="submit" class="btn hvr-hover">Login</button>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="title-left">
                        <h3>Add New Product</h3>
                    </div>
                    <h5><a data-toggle="collapse" href="#formRegister" role="button" aria-expanded="false">Click here to add product</a></h5>
                    <form action="/shop" class="mt-3 collapse review-form-box" id="formRegister" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="InputName" class="mb-0">Name</label>
                                <input type="text" name="name" class="form-control" id="InputName" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputLastname" class="mb-0">Price</label>
                                <input type="number" name="price" class="form-control" id="InputLastname" placeholder="Price">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputEmail1" class="mb-0">Image</label>
                                <input type="text" name="image" class="form-control" id="InputEmail1" placeholder="Image url">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0">Description</label>
                                <textarea name="description" class="form-control" id="InputPassword1" placeholder="Description"></textarea>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">Sizes</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="size">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">S</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="s">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">M</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="m">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">L</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="l">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">XL</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="xl">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">XXL</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="xxl">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 size-st">
                                <label for="InputEmail1" class="mb-0">3XL</label>
                                <select id="basic" class="selectpicker show-tick form-control" name="xxxl">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn hvr-hover">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer.ejs') %>
        </body>

        </html>