<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Fashion Mall - Happy Shopping!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/owl.carousel.css">
    <link rel="stylesheet" href="/admin/css/owl.theme.css">
    <link rel="stylesheet" href="/admin/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/main.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/admin/css/metisMenu/metisMenu-vertical.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="/admin/css/modals.css">
    <link rel="stylesheet" href="/admin/css/form/all-type-forms.css">

    <link rel="stylesheet" href="/admin/css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/admin/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/admin/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <img class="main-logo" src="/admin/img/logo/logo.png" alt="" />
                <strong><img src="/admin/img/logo/logosn.png" alt="" /></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <ul class="submenu-angle" aria-expanded="true">
			    <li><a title="Dashboard" href="/admin/dashboard"><i class="fa fa-dashboard sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Dashboard</span></a></li>
                                <% if (role === 'admin' || role === 'super'){ %>
                                    <li><a title="Dashboard" href="/admin/adminDashboard"><i class="fa fa-dashboard sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Admin Dashboard</span></a></li>
                                    <li><a title="Product List" href="/admin/product-list"><i class="fa fa-list sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Product List</span></a></li>
                                    <li><a title="Add Product" href="/admin/product-add"><i class="fa fa-plus sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Add Product</span></a></li>
                                    <li><a title="All Orders" href="/admin/orders"><i class="fa fa-cart-plus sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Orders</span></a></li>
                                    <% } %>
                                        <li><a title="Delivery Address" href="/admin/address"><i class="fa fa-compass sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Delivery Address</span></a></li>
                                        <li><a title="My Orders" href="/admin/myOrders"><i class="fa fa-cart-plus sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">My Orders</span></a></li>
                                        <li><a title="My Wishlist" href="/admin/myWishlist"><i class="fa fa-magic sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">My Wishlist</span></a></li>
                                        <% if (role === 'super'){ %>
                                            <li><a title="Create new Admin" href="/admin/newAdmin"><i class="fa fa-user-plus sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Create Admin</span></a></li>
                                            <% } %>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="/home"><img class="main-logo" src="/admin/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="fa fa-bars"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/home" class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a href="/shop" class="nav-link">Shop</a>
                                                </li>
                                                <li class="nav-item"><a href="/about" class="nav-link">About</a>
                                                </li>
                                                <li class="nav-item"><a href="/contact-us" class="nav-link">Contact Us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <i class="fa fa-user adminpro-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                        <span class="admin-name"><%= fName %> <%= lName %></span>
                                                        <i class="fa fa-angle-down adminpro-icon adminpro-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <form action="/auth/logout" method="POST">
                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                            <li><button><span class="fa fa-lock author-log-ic"></span>Log Out</button></li>
                                                        </form>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a href="/admin/dashboard">Dashboard</a></li>
                                        <% if (role === 'admin' || role === 'super'){ %>
                                            <li><a href="/admin/adminDashboard">Admin Dashboard</a></li>
                                            <li><a href="/admin/product-list">Product List</a></li>
                                            <li><a href="/admin/product-add">Add Product</a></li>
                                            <li><a href="/admin/orders">Orders</a></li>
                                            <% } %>
                                                <li><a href="/admin/myOrders">My Orders</a></li>
                                                <li><a href="/admin/address">Delivery Address</a></li>
                                                <li><a href="/admin/myWishlist">My Wishlist</a></li>
                                                <% if (role === 'super'){ %>
                                                    <li><a href="/admin/newAdmin">Create Admin</a></li>
                                                    <% } %>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="/home">Home</a> <span class="bread-slash">/</span>
                                            </li>
